/tmp
/log

*.swp
.\#*
.DS_Store
thumbs.db
tags

autoscan.log
configure.scan
autom4te.cache
config.status
Makefile.in
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
missing
Makefile
config.h
libtool
.deps
stamp-*

confdefs.h
conftest.*
conftest.err
libtoolT

ltmain.sh
config.log
configure
config.h.in*

*.lo
*.o
*.la
.libs

m4
vgcore.*
example
